{% extends 'base.html' %}

{% block content %}



<div class="heading">
    <h1>our blogs</h1>
</div>

<section class="blogs">
    <h1 class="title"> our <span>blogs</span> <a href="#">view all >></a> </h1>
    <div class="box-container">

        <div class="box">
            <div class="img">
                <img decoding="async" src="/Static/img/blog-1.jpg" alt="">
            </div>
            <div class="content">
            <div class="icons">
                <a href="#"> <i class="fsa fa-calendar"></i> 31 Oct, 2023 </a>
                <a href="#"> <i class="fsa fa-user"></i> By administrator </a>
            </div>
             <h3>blogs title page</h3>
             <p>Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam, quis</p>
             <a href="#" class="btn">read more...</a>
        </div>
    </div>

    <div class="box">
        <div class="img">
            <img decoding="async" src="/Static/img/blog-2.jpg" alt="">
        </div>
        <div class="content">
        <div class="icons">
            <a href="#"> <i class="fsa fa-calendar"></i>31 Oct, 2023</a>
            <a href="#"> <i class="fsa fa-user"></i> By administrator </a>
        </div>
         <h3>blogs title page</h3>
         <p>Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam, quis</p>
         <a href="#" class="btn">read more...</a>
    </div>
</div>

<div class="box">
    <div class="img">
        <img decoding="async" src="/Static/img/blog-3.jpg" alt="">
    </div>
    <div class="content">
    <div class="icons">
        <a href="#"> <i class="fsa fa-calendar"></i> 31 Oct, 2023 </a>
        <a href="#"> <i class="fsa fa-user"></i> By administrator </a>
    </div>
     <h3>blogs title page</h3>
     <p>Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam, quis</p>
     <a href="#" class="btn">read more...</a>
</div>
</div>

<div class="box">
    <div class="img">
        <img decoding="async" src="/Static/img/blog-4.jpg" alt="">
    </div>
    <div class="content">
    <div class="icons">
        <a href="#"> <i class="fsa fa-calendar"></i> 31 Oct, 2023 </a>
        <a href="#"> <i class="fsa fa-user"></i> By administrator </a>
    </div>
     <h3>blogs title page</h3>
     <p>Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam, quis</p>
     <a href="#" class="btn">read more...</a>
</div>
</div>

<div class="box">
    <div class="img">
        <img decoding="async" src="/Static/img/blog-5.jpg" alt="">
    </div>
    <div class="content">
    <div class="icons">
        <a href="#"> <i class="fsa fa-calendar"></i> 31 Oct, 2023 </a>
        <a href="#"> <i class="fsa fa-user"></i> By administrator </a>
    </div>
     <h3>blogs title page</h3>
     <p>Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam, quis</p>
     <a href="#" class="btn">read more...</a>
</div>
</div>

<div class="box">
    <div class="img">
        <img decoding="async" src="/Static/img/blog-6.jpg" alt="">
    </div>
    <div class="content">
    <div class="icons">
        <a href="#"> <i class="fsa fa-calendar"></i> 31 Oct, 2023 </a>
        <a href="#"> <i class="fsa fa-user"></i> By administrator </a>
    </div>
     <h3>blogs title page</h3>
     <p>Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam, quis</p>
     <a href="#" class="btn">read more...</a>
</div>
</div>

</div>
</section>
{% endblock  %}