{% extends 'base.html' %}

{% block content %}



<div class="heading">
    <h1>our shop</h1>
    </div>

<section class="category">

<h1 class="title"> our <span>category</span> <a href="/product">view all >></a> </h1>

<div class="box-container">

    <a href="#" class="box">
        <img decoding="async" src="/Static/img/cat-1.jpg" alt="">
        <h3>fresh cupcake</h3>
    </a>

    <a href="#" class="box">
        <img decoding="async" src="/Static/img/cat-2.jpg" alt="">
        <h3>cookies</h3>
    </a>

    <a href="#" class="box">
        <img decoding="async" src="/Static/img/cat-3.jpg" alt="">
        <h3>brown bread</h3>
    </a>

    <a href="#" class="box">
        <img decoding="async" src="/Static/img/cat-4.jpg" alt="">
        <h3>Dark chocolate</h3>
    </a>

    <a href="#" class="box">
        <img decoding="async" src="/Static/img/cat-5.jpg" alt="">
        <h3>Wheat</h3>
    </a>


</div>

</section>

<section class="products">

    <h1 class="title"> our <span>products</span> <a href="/product">view all >></a> </h1>

    <div class="box-container">

        <div class="box">
            <div class="icons">
                <a href="/product1" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="/Static/img/product-1.jpg" alt="">
            </div>
            <div class="content">
                <h3>berries citrus fruits cake</h3>
                <div class="price">₹ 349</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="/product2" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="/Static/img/product-2.jpg" alt="">
            </div>
            <div class="content">
                <h3>resh mellow sp color cake</h3>
                <div class="price">₹ 429</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="/product3" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="/Static/img/product-3.jpg" alt="">
            </div>
            <div class="content">
                <h3>Rose color sparkel cake</h3>
                <div class="price">₹ 389</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="/product4" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="/Static/img/product-4.jpg" alt="">
            </div>
            <div class="content">
                <h3>strawberry nutella cake</h3>
                <div class="price">₹ 479</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="/product5" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="/Static/img/product-5.jpg" alt="">
            </div>
            <div class="content">
                <h3>green bread spar cake</h3>
                <div class="price">₹ 589</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="/product6" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="/Static/img/product-6.jpg" alt="">
            </div>
            <div class="content">
                <h3>red berries chocolate cake</h3>
                <div class="price">₹ 349</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="/product7" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="/Static/img/product-7.jpg" alt="">
            </div>
            <div class="content">
                <h3>strawberry red spar cake</h3>
                <div class="price">₹ 349</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="/product8" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="/Static/img/product-8.jpg" alt="">
            </div>
            <div class="content">
                <h3>dark chocolate nutella cake</h3>
                <div class="price">₹ 489</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>
</div>
</section>



{% endblock %}